body {
  margin: 0;
}


.splash-page {
  margin: 0;
  width: 100%;
  height: 500px;
  font-family: courier, monospace;
  background-image: radial-gradient(at 35%, #fdfdfd 20%, #ccc 100%);
}

/* navbar sits vertically along the right side */
.vert-navbar {
  position: relative;
  right: 18px;
  float: right;
  padding-top: 30px;
}

nav ul li {
  list-style: none;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 20px;
  text-shadow: 0px 0px 0.5px #aaa;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

nav ul li::before {
  content: '\25A0';
  display: inline;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: 20px;
  font-size: 12px;
  color: #333;
  text-shadow: 0px 0px 0.5px #aaa;
}

nav ul li a:visited {
  color: #555;
  text-shadow: 0px;
}

.title-heading h1 {
  margin: auto;
  padding: 150px 0px 0px 25px;
  text-align: center;
  font-family: courier;
  font-size: 6em;
  color: #333;
  text-shadow: 0px 0px 2px #aaa;
}




/* Hi, I'm Johnny */


.projects {
  margin: 0px;
  width: 100%;
  height: 350px;
  box-shadow: inset 0 -10px 6px -10px #fff,
              inset 0  10px 6px -10px #fff;
  background-color: #01a9db;
}

#splash-box {
  width: 500px;
  height: 250px;
  margin: 0px auto 10px auto;
  position: relative;
  top: -40px;
  background-color: black;
}

